<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &#8267; {{ site.name }}</title>

    {% comment %} SEO related meta {% endcomment %}
    <meta name="description"
        content="{% if page.metaDescription %}{{ page.metaDescription }}{% else %}{{ site.metaDescription }}{% endif %}.">
    <meta property="og:title" content="{{ page.title }} - {{ site.name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:image"
        content="{% if page.ogImage %}{{ page.metaSocialImage | prepend: site.url }}{% else %}{{ site.metaSocialImage | prepend: site.url }}{% endif %}">

    {% comment %} Icons and favicons (put favicon.ico in the root directory) {% endcomment %}
    <link rel="apple-touch-icon" href="{{ '/assets/apple-touch-icon.png' | prepend: site.url }}">
    <meta name="theme-color" content="#D8EC83">

    {% comment %} Preconnect to Google fonts' origin {% endcomment %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {% comment %} CSS stylesheets {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ '/assets/global.css' | prepend: site.url }}">
</head>

<!--
***
Hi, having a look behind the scenes? Check out https://github.com/thisiscap/ if you fancy!
***
-->

<body {% if page.name %}class="page__{{ page.name | remove: ".md" }}" {% endif %}>
    {% comment %} Child template content {% endcomment %}
    {{ content }}

    {% comment %} Swiper.js - https://swiperjs.com/ {% endcomment %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    {% comment %} Global JS {% endcomment %}
    <script src="{{ '/assets/global.js' | prepend: site.url }}" defer></script>
</body>

</html>
